html {
	background: url(https://i.imgur.com/dKnMXBz.png);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.swag {
	/*margin: auto;*/
	text-align: center;
	color: #82F0FF;
}

#btnCreateDB {
	display: block;
	width: 100px;
	margin-top: 250px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
}

